<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <h3><a routerLink="">Resturant App</a></h3>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li><a class="nav-item nav-link" routerLink="add">Add Resturant</a></li>
        <li>
          <a class="nav-item nav-link" routerLink="update">Update Resturant</a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="">List Resturant</a>
        </li>
        <li><a class="nav-item nav-link" routerLink="login">Login</a></li>
        <li>
          <a class="nav-item nav-link" routerLink="register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <p>Register Your Resturant With Us</p>
  </footer>
</div>
